{% extends '_layout.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block content %}



<div class="upload_container">

    <h3 class="display-4 text-center mb-4 cursor_default">Edit Profile Image</h3>
  
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-secondary cursor_default" role="alert">
        {% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  
    <p class="lead text-center cursor_default">Current Profile Image:</p>
    <div class="text-center">
        <img src="{{ current_user.avatar_url }}" style="border-radius: 50%; border: 2px solid grey; width: 128px; height: 128px; object-fit: cover;">
    </div>

    <form class="mt-3 text-center" action="{{ url_for('users.update_avatar') }}" method="POST" enctype="multipart/form-data">
      <input class="upload_inputfile" type="file" name="user_file" id="file_hide" required>
      <label class="lead" for="file_hide">Change...</label>
      <button class="btn btn-success mt-5 mb-3 btn-block" type="submit">Upload and Save</button> 
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
  
    <script>
          var input = document.getElementById( 'file_hide' );
  
              var label	 = input.nextElementSibling,
                  labelVal = label.innerHTML;
  
              input.addEventListener( 'change', function( e )
              {
                  var fileName = '';
                      fileName = e.target.value.split("\\").pop();
  
                  if( fileName )
                      label.innerHTML = 'File Selected';
                  else
                      label.innerHTML = labelVal;
              });
    </script>
  
  
  </div>

{% endblock %}