{% extends '_layout.html' %}

{% block title %}
Browse Users |
{% endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="text-center alert alert-secondary mb-0" role="alert">
    {% for message in messages %}
    <span>{{ message }}</span>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% if term and users %}
  <div class="cursor_default text-center">
      <p class="lead pt-3" style="font-size: 25px;">{{ users|count }} result{% if users|count > 1 %}s{% endif %} found:</p>
  </div>
  {% endif %}


{% if users %}
<div class="container-fluid">
  <div class="w-100 my-1" style="border: 1px solid #F0F0F0;"></div>
    {% for user in users %}
      <div class="row text-center">
        <div class="col-12 col-lg-2 offset-lg-1 text-center">
          <div class="w-100 mt-4"></div>
          <a class="" href="{{ url_for('users.show', username=user.username) }}">
            <img class="users_all_avatar" src="{{ user.avatar_url }}" height="128" width="128">
          </a>
          <div class="w-100 mb-1"></div>
          <a class="text_default_link users_all_username" href="{{ url_for('users.show', username=user.username) }}">
            <p style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{ user.username }}</p>
          </a> 
          <div class="w-100 mt-3"></div>
          {% if current_user.is_authenticated and user in following %}
            <form action="{{ url_for('users.unfollow', user_id=user.id) }}" method="POST">
              <button class="all_users_unfollow_button w-75 mx-auto mb-3" type="submit">
                <span class="unfollow_span_1 text-light"><strong>Following</strong></span><span class="unfollow_span_2 text-light"><strong>Unfollow</strong></span>
              </button>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="next" value="{{ url_for('users.index') }}">
            </form>            
          {% elif current_user.is_authenticated and user == current_user %}
            <button class="btn btn-secondary btn-sm w-75 mx-auto mb-3 font-weight-bold" disabled>You</button>
          {%else %}
            <form action="{{ url_for('users.follow', user_id=user.id) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              <input type="hidden" name="next" value="{{ url_for('users.index') }}">
              <button type="submit" class="all_users_follow_button w-75 mx-auto mb-3"><strong>Follow</strong></button>
            </form>
          {% endif %}
        </div>

        <div class="col-12 col-lg-8">      
        {% if not user.is_private or user in following or user == current_user %}
          {% if user.posts %}
            <div class="container">
              <div class="row">
                {% for post in user.posts %}
                  <div class="col-12 col-md-6 col-xl-4 users_all_image_wrapper mt-4 mb-1">
                    <a href="{{ url_for('posts.show', post_id=post.image) }}">
                      <img class="users_all_image" src="{{ post.image_url }}">
                      <div class="users_all_image_overlay"></div>
                      <div class="users_all_image_overlay_text d-flex flex-column justify-content-center align-items-center">
                        <span class="text-light font-weight-bold"><i class="fas fa-heart"></i> {{ post.likes|length }}</span>
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <div class="d-flex h-100 justify-content-center align-items-center">
              <p class="text-center cursor_default lead mt-3" style="font-size: 30px;">It's empty here :(</p>
            </div>
          {% endif %}
        {% else %}
          <div class="d-flex h-100 justify-content-center align-items-center">
            <p class="text-center cursor_default lead px-4 mt-3" style="font-size: 30px;"><i class="fas fa-user-lock"></i>&nbsp;&nbsp;{{ user.username }}'s posts are protected.</p>
          </div>
        {% endif %}


      </div>
      <div class="col-10 offset-1 mt-4 mb-1 border border-secondary"></div>
      

    </div>
    {% endfor %}
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center cursor_default" style="height: 85vh;">
  <p class="mx-5 lead text-center" style="font-size: 30px;">No users to display.</p>
</div>
{% endif %}

{% endblock %}