{% extends 'users/_banner.html' %}

{% block usertab3 %}
user_page_tab_active
{% endblock %}

{% block route %}following{% endblock %}

{% block usercontent %}


{% if user.is_private and not user in following and user != current_user %}

<p class="lead text-center mt-5 font-weight-bold px-3 cursor_default">This profile is private.</p>
<p class="text-center px-5 cursor_default">
  Only confirmed followers have access to {{ user.username }}'s posts and complete profile.
  Click the Follow button to send a follow request.
</p>

{% else %}


<div class="container">
    <div class="row text-center mt-3 mb-5">

{% for u_following in user.following %}

<div class="col-12 col-md-6 col-xl-4">

    <div class="bg_custom mt-4 mb-1 border_custom mx-2 px-2 py-4 rounded">  
      
      <div class="text-center">
          <a class="text-decoration-none opacity_hover" href="{{ url_for('users.show', username=u_following.username) }}">
            <img class="" src="{{ u_following.avatar_url }}" width="100" height="100" style="object-fit: cover; border-radius: 50%; border: 2px solid grey;">
          </a>
          <div class="w-100"></div>
          <h4 class="ml-2 mt-2"><a class="text_default_link" href="{{ url_for('users.show', username=u_following.username) }}">{{u_following.username}}</a></h4>
          <div class="w-100"></div>
          {% if current_user.is_authenticated and u_following in following %}
          <form class="w-100" action="{{ url_for('users.unfollow', user_id=u_following.id) }}" method="POST">
            <button class="mt-2 w-75 user_page_ul_button user_page_ul_unfollow" type="submit">
              <span class="unfollow_span_1 text-light">Following</span>
              <span class="unfollow_span_2 text-light">Unfollow</span>
            </button>
            <input type="hidden" name="next" value="{{ url_for('users.show_following', username=user.username) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </form>
          {% elif current_user.is_authenticated and current_user == u_following %}
          <button class="mt-2 w-75 btn btn-sm btn-secondary" disabled>You</button>
          {% else %}
          <form class="w-100" action="{{ url_for('users.follow', user_id=u_following.id) }}" method="POST">
            <button class="mt-2 w-75 user_page_ul_button user_page_ul_follow" type="submit">Follow</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="next" value="{{ url_for('users.show_following', username=user.username) }}">
          </form>
          {% endif %}
        </div>
    </div>
  </div>

{% endfor %}

</div>
</div>

{% endif %}



{% endblock %}