{% extends '_layout.html' %}

{% block title %}
All Posts
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">

    {% for post in posts %}


    <!-- ••• -->

        <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-5 post_container">
          <div class="post_user_group">
            <img class="post_avatar" src="{{ post.user.avatar_url }}">
            <a class="post_user text-decoration-none" href="{{ url_for('users.userpage', username=post.user.username) }}">{{ post.user.username }}</a>
            <div class="dropdown ml-auto">
              <button class="post_options_button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><i class="fas fa-external-link-alt"></i> Permalink</a>
                <a class="dropdown-item" href="#"><i class="far fa-money-bill-alt"></i> Tip Post</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fas fa-user-slash"></i> Unfollow {{ post.user.username }}</a>
              </div>
            </div>
          </div>
          <img class="post_image" src="{{ post.image_url }}">
          <div class="post_comment_group">

            <div class="icons_group">
              {% if current_user.is_authenticated and post.is_liked(current_user) %}
                <form class="like_buttons_form" action="{{ url_for('posts.unlike', post=post.id) }}" method="POST">
                  <button class="button_unlike" type="Submit"><i class="fas fa-heart"></i></button>
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
              {% else %}
                <form class="like_buttons_form" action="{{ url_for('posts.like', post=post.id) }}" method="POST">
                  <button class="button_like" type="Submit"><i class="far fa-heart"></i></button>
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </form>
              {% endif %}
              {% if post.likes|length %}
                {% if current_user.is_authenticated %}
                  {% if post.is_liked(current_user) %}
                    {% if post.likes|length > 1 %}
                      <span>You and {{ post.likes|length-1 }} other coder{% if post.likes|length > 2 %}s{% endif %} like this.</span>
                    {% else %}
                      <span>You like this.</span>
                    {% endif %}
                  {% else %}
                    <span>Liked by {{ post.likes|length }} coder{% if post.likes|length > 1 %}s{% endif %}.</span>
                  {% endif %}
                {% else %}
                  <span>Liked by {{ post.likes|length }} coder{% if post.likes|length > 1 %}s{% endif %}.</span>
                {% endif %}
              {% else %}
                <span>Be the first coder to like this post!</span>
              {% endif %}
            </div>

            <a class="post_user_caption text-decoration-none" href="{{ url_for('users.userpage', username=post.user.username) }}">{{ post.user.username }}</a>
            <span class="post_caption">{{ post.caption }}</span>
            <h6 class="post_when">{{ post.when }}</h6>

          </div>
        </div>
        <div class="w-100"></div>
    
    {% endfor %}

  </div>
</div>



{% endblock %}