.error_container {
  background-color: black;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error_text {
  color: silver;
}

.ntg-navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(45, 45, 45);
  display: flex;
  justify-content: space-between;
}

.ntg-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  background-color: red;
}

.ntg-navbar li {
  float: left;
}
  
.ntg-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.ntg-navbar li a:hover {
  background-color: #111;
}