{% extends '_layout.html' %}

{% block title %}
{{ user.username }}'s Post on
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row pt-5 pb-5 d-flex flex-column text-center">

  <img src="{{ post.image_url }}" style="max-width: 80%; margin: 25px auto;">

  <div class="mx-auto" style="max-width: 500px;">
    <p class="text-center" style="word-wrap: break-word;">{{ post.caption }}</p>
  </div>
  <p class="lead">{{ post.when }} by <a class="text_default_link font-weight-bold" href="{{ url_for('users.show', username=user.username) }}">{{ user.username }}</a></p>
  

  <div class="text-center">
 
    <form action="{{ url_for('donate.new_checkout') }}" method="POST" id="donation_form">
      <input type="hidden" name="user_id" value="{{ user.id }}" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>  
    </form>

    <button form="donation_form" class="post_buttons" type="submit">
      <i class="fas fa-dollar-sign"></i> Tip this user!
    </button>
 
  </div>



  </div>
</div>

{% endblock %}